* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --colormain:#FFF159;
    --colorsomeone-text: #182A17;
    --color-body:#ededed;
    --color-text:#000000E6;
    --color-accept:rgba(0, 0, 0, .55);
    --color-link:#2968c8;
    --color-button:#3483fa;
}

html {
    font-size: 81.25%;
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 100%;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 93.75%;
    }
}

@media screen and (min-width: 640px) {
    html {

        font-size: 87.5%;
    }
}